.navigation {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	.navbar {
		&-nav {
			@media #{$lg} {
				text-align: right;
			}

			white-space: nowrap;
			.nav-item {
				.nav-link {
					font-size: $links__font-size;
					font-weight: $links__font-weight;
					color: $links__color--black;
					&:hover {
						color: $links__color-grey--hover;
					}
				}
			}
		}

		&-brand {
			img {
			max-width: 100%;
            object-fit: cover;
		    width: 100%;
		    height: 100%;
			}
		}

		&-collapse {
			justify-content: end;
		}
	}
}




